
body {
  margin: 0;
  background: linear-gradient(to bottom, #000000, #003300);
  font-family: sans-serif;
  color: red;
  text-align: center;
}

.stage {
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}

.logo-fullscreen {
  width: 100vw;
  height: 100vh;
  background-image: url('nix-logo-final.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0;
  animation: logo-fadein 2s ease-out forwards, logo-fadeout 2s ease-out 2s forwards;
}


@keyframes logo-fadein {
  from {
    opacity: 0;
    transform: scale(0.8);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes logo-fadeout {
  to {
    opacity: 0;
    transform: scale(1.2);
  }
}

/* Привітання */
.greeting {
  font-size: 2.5rem;
  opacity: 0;
  transform: scale(0.8);
  transition: all 2s ease;
}

.greeting.zoom-in {
  opacity: 1;
  transform: scale(1.7);
}


/* Слайди */
.slide {
  font-size: 1.5rem;
  opacity: 0;
  transform: translateY(30px);
  transition: all 1s ease;
  margin: 10px 0;
}

.slide.visible {
  opacity: 1;
  transform: translateY(0);
}

